html{
    margin: 0px;
    padding: 0px;
    background-color: #ffcce1;
    font-family: Arial, Helvetica, sans-serif;
}
html a{
    max-width: 16em;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display:flex;
    width: 100%;
    background-color: #faffc7;
    padding: 0px;
    margin: 0px;
    border-radius: 5%;
    max-height: 8em;
}
.mainbody{
    padding: .5em;
}

header > .miatopname{
    display: flex;
    font-size: 1.5em;
    justify-content: space-evenly;
    list-style: none ;
    padding: 0px;
    margin: 0px;
}
header > .miatopname img{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    border: 0px;
    max-width: 5em;
}
header > .mainmenu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 3em;
    font-size: 1.5em;
    vertical-align: middle;
    text-decoration: none;
    list-style: none;
    margin-top: 1.8em;
}
header > .mainmenu a{
    text-decoration: none;
    color: #ffcce1;
    padding: 2.5em;
}
header > .mainmenu a:hover{
    background-color: gray;
}
header > .mainmenu a:active a:visited{
    text-decoration: none;
    color: #ffcce1;
}
.mainlogo{
    display: flex;
    justify-content: space-around;
}
.mainlogo hr{
    display: none;
}
.mainlogo img {
    max-width: 12em;
    display: flex;
    justify-content:space-between;
    float: none;
}
#bigimage1 img{
    display: flex;
    max-width: 40em;
    float: left;
    border-radius: 10%;
    padding: 1em;
    vertical-align: middle;
}
.bigimagetext{
    font-size: 1.2em;
    margin-bottom: 4em;
    line-height: 1.7em;
}
.bigimagetext h1{
    text-align: center;
    font-size: 1.5em;
    padding: .2em;
    
}
.bigimagetext h2{
    text-align: center;
    font-size: 1.2em;
    padding: .5;
}
.bigimagetext p{
    padding: 1em;
    font-size: 1em;
}
#bigimage2 img{
    display: flex;
    max-width: 50%;
    float: right;
    border-radius: 5%;
    padding-right: 1em;
    margin-left: 1em;
}

/*for the shop css*/

.shopmainbody{
    font-family: Arial, Helvetica, sans-serif;
    padding: .5em;
}
.shopone img{
    max-width: 15em;
    border-radius: 5%;
    max-height: 15em;
    padding-left: 1em;

}
.shopone{
    display: flex;   
}
.shopone h3{
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    margin-top: 3em;
    max-width: 7em;
}
.shopone p{
    font-size: 1em;
    line-height: 2em;
    padding-left: 2em;
    max-width: 55%;
}
.shopbutton{
    display: flex;
    justify-content: space-evenly;
    width: 14em;
    height: 3em;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    padding-top: 1em;
    margin-top: 5em;
    overflow: hidden;
    
}
.shopbutton :hover{
    background-color: pink;
}
hr{
    border: 1px solid red; 
    border-radius: 5%;
    margin: 1em;
    margin-bottom: 3em;
}

/*tik toe game*/

td {
    border: 5px solid black;
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    font-family: sans;
}
td:nth-child(1) {
    border-left: none;
    }
    td:nth-child(3) {
    border-right: none;
    }
    tr:nth-child(1) > td {
    border-top: none;
    }
    tr:nth-child(3) > td {
    border-bottom: none;
    }

 #turn {
     font-weight: bold;
     text-transform: capitalize;
     text-align: center;
     font-size: 16pt;
     background-color: #faffc7;
     width: 340px;
 }
.bodyabout {
    padding: 1em;
}
.bodyabout h2{
    text-align: center;
}
.bodyabout h3{
    text-align: center;
}
.bodyabout p{
    text-align: center;
}
#tableallign{
    display: flex;
    justify-content: space-around;
}
#tableallign table{
    display: flex;
    justify-content: space-around;
}
.bodyabout video{
    display: flex;
}
.bodyabout a{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    justify-content: space-around;
}
.bodyabout h5{
    display: flex;
    justify-content: space-between;
}