html{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
header{
    display:flex;
    background-color: #333333;
    padding-left: 1em;
    margin: 0px;
    height: 5em;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #e5e5e5;
}
.navbar{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 2em;
    margin: 0px;
    font-size: 1.1em;
}
.navbar li{
    justify-content: space-between;
}
.navbar a{
    text-decoration: none;
    padding: 2.3em;
    padding-bottom: 1.3em;
    color: white;
}
.navbar a:hover{
    background-color: #e5e5e5;
}
.navbar a:visited{
    color: white;
}
#mainname{
    display: block;
    white-space: nowrap;
    font-size: 1.7em;
    justify-content: space-evenly;
    padding-top: 1em;
    margin: 0px;
    color: white;
}

/*for the body*/
.body{
    padding-left: 1em;
    padding-right: 1em;
}
/* this will do the contact me side view*/
.quickview{
    background-color: #333333;
    display: inline;
    padding: 1em;
    max-width: 15em;
    float: right;
    border-radius: 5%;
    margin-left: 1em;
    color: white;
    margin-top: 2em;
}
.quickviewimg img{
    display: float;
    margin-left: 4em;
    border-radius: 20%;
    max-width: 8em;
}
.quickview p{
    text-align: center;
    line-height: 1.5em;
    padding: 0em;
}
.socialnames{
    line-height: .2em;
    margin: 0px;
    font-weight: bold;
}
.quickview h3{
    text-align: center;
}
.sociallogos a{
    display: inline;
    padding-left: 6em;
    justify-content: space-between;
}
.sociallogos img{
    max-width: 3em;
    padding-top: 1.5em;
}
.about{
    line-height: 2em;
}
/*Projectshome.html styling*/
.projectsbody{
    line-height: 2em;
    display: inline;
}
.individualprojects{
    display: flex;
}
.individualprojects img{
    max-width: 10em;
    max-height: 10em;
}
.individualprojects h3{
    padding-right: 2em;
    padding-left: 2em;
    width: 25em;
    margin-top: 3em;
}
.individualprojects p{
    margin-top: 2.2em;
}
.individualprojects2{
    display: flex;
}
.individualprojects2 img{
    max-width: 10em;
    margin-top: 6em;
}
.individualprojects2 h3{
    padding-right: 2em;
    padding-left: 2em;
    width: 25em;
    margin-top: 3em;
}
.individualprojects2 p{
    margin-top: 3.5em;
}